// Add your custom variables here.  Use these to override the Bootstrap imports.
$color-sage: #9EA587;
$color-yukon-gold: #5F6F06;
$color-juniper: #6D9292;
$color-potters-clay: #845d37;

$custom-colors: (
  "sage": $color-sage,
  "juniper": $color-juniper,
  "yukon-gold": $color-yukon-gold,
  "potters-clay": $color-potters-clay
);
